*{
    box-sizing: border-box;
 }
body{
font-family: cursive;
margin:0 ;
}
html{
    scroll-behavior: smooth;
}


header{
display: flex;
*position: fixed;
width: 100%;
background-color:rgb(30,30,30) ;
height:auto ;
padding:2px;



}

header .contenido{
    width:100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    
}
.nombre_e{
    margin: 0;
    text-decoration: none;
    padding: 25px 10px;
    font-weight: bold;
    color: #ec9718;
    font-size: 1.7em;
}
.logo{
display: flex;
margin:0;
padding: 25px 30px;

}
.logo img {
justify-content: left;
width:100px ;
height: 80px;
border-radius:100px ;
margin-right:10px;
}
header nav{
text-align: center;
display: flex;
padding-bottom: 20px;



}

header a{
    padding: 5px 12px;
text-decoration: none;
font-weight: bold;
color: white;
text-transform: uppercase;
display: flex;
align-items: center;



}
header .contenido nav a{
        font-weight: 600;
    padding-right:10px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    color: white;
    

   
}
header .contenido nav a:hover{
    color: #ec9718;
    transition: all 500ms;
}


h1{font-size: 2em;}
h2{font-size: 1.5em;}
h3{font-size:  1.25em;}




.contenido{
    max-width:1400px ;
    margin:50px 50px 0 50px ;
}


footer{
   
    background-color: rgb(230,230,230);
    
   
}
footer p{
    margin:0;
    padding:120px ;
    color: rgb(100,100,100);
}
footer .contenido{
    height: 150px;
    display:flex;
    justify-content: center;
    align-items: flex end;
    margin: auto;

}

    header{
        *position: fixed;
        width: 100%;
        height: auto;
        
       
    }
    header .contenido{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        padding-bottom: 0;
        padding-right: 30px;
    }

    main{
        background: #f0f0f0;
        padding: 40px 20px;
        
    }
    article{
        max-width: 1200px;
        margin: 20px auto;
        padding: 40px;
        background: #fff;

    }
    article p{
        margin-top: 20px;
        font-size: 18px;
        font-weight: 300;
    }
    header nav a:first-child{
        background-image: url(casa.png);
        background-size: 29px;
        background-repeat: no-repeat;
        background-position: center center ;
        padding: 10px 30px;
        
    }
    
    header nav a:first-child:hover{
        transform: scale(1.3);
        background-color: #ec9718a5 ;
        border-radius: 30px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5) ;
        color: #ec9718;
            transition: all 500ms;
    }
